p {
    text-align: left;
    /* border: 2px solid yellow; */
    line-height: 30px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px black;

    padding: 20px;
    position: static;
    font-size: 20px;
    box-sizing: border-box;
    color: white;
}

body {
    color: black ;
    background-color: black;
    font-family: sans-serif;

    background-size: cover;
}

a {
    text-decoration: none;
}

.white-h1 {
    margin-left: 1100px;
    color: white;
}

.white-h1 {
    color: white;
}

.white2-h1 {
    color: white;
}

.img-cs {
    margin-right: 500px;
    text-align: right;
}

.main {
    border: 2px solid white;
}

.info {
    /*border: double red; */
    margin: 10px;
}

.info2 {
    /*border: double red; */
    margin: 10px
}

.info3 {
    /*border: double red; */
    margin: 10px
}

.info4 {
    /*border: double red; */
    margin: 10px;
}

.info5 {
    /*border: double red; */
    margin: 10px;
}

.info6 {
    /*border: double red; */
    margin: 10px;
}

.info7 {
    /*border: double red; */
    margin: 10px;
}

.second-main {
    border: 2px solid white;
}

.cs-info {
    margin-left: 1100px;
}

.white-main {
    color: white;
    margin-left: 10px;
    margin: 20px;
}